<div class="profile-header">
  <div class="container">
    <div class="profile-wrapper row">
      <div class="image-profile col-md-2">
        <%= show_avatar %>
      </div>
      <div class="profile-infos col-md-10">
        <h3 class="profile-name"><%= @user.profile.full_name %></h3>

        <% if user_signed_in? && @user.id == current_user.id %>
          <%= link_to "Editar Perfil", edit_user_registration_path, class: 'edit-profile'%>
        <% end %>
        <p class="profile-description">
          <%= current_user.profile.description %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="profile-screencast-list container">
  <%= render 'shared/cast_list', casts: @casts.most_recent, title: 'Screencasts' %>
</div>
