<div class="col-sm-6 col-md-offset-3">
  <div class="page-header">
    <h2><%= t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions') %></h2>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), method: :post) do |f| %>
      <%= f.input :email %>

      <%= f.button :submit, t('.resend_confirmation_instructions', :default => "Resend confirmation instructions"), class: 'btn-primary pull-right' %>
  <% end %>
  <br class="clearfix" />

  <%= render "devise/shared/links" %>
</div>