<div class="col-sm-6 col-md-offset-3">
  <div class="page-header">
    <h2><%= t('.title', resource: resource_class.model_name.human ) %></h2>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), method: :put) do |f| %>
      <%= f.input :email %>
      <%= f.input :password, input_html: { id: 'password', title: t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it") } %>
      <%= f.input :password_confirmation %>
      <%= f.input :current_password, input_html: { id: 'current_password', title: t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') } %>

      <%= f.button :submit, t('.update', :default => "Update"), class: 'btn-primary pull-right' %>
  <% end %>
</div>
<br class="clearfix" />

<div class="col-sm-6 col-md-offset-3">
  <div class="page-header">
    <h3><%= t('.my_profile', default: 'My profile') %></h3>
  </div>

  <%= simple_form_for(resource.profile, url: profiles_path, method: :put) do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>

      <div class="page-header">
        <h4><%= t('.links', default: 'My links') %></h3>
      </div>

      <div id='links'>
        <%= f.simple_fields_for :links do |fl| %>
          <%= render 'link_fields', f: fl %>
        <% end %>
        <%= link_to_add_association 'add links', f, :links %>
      </div>

      <%= f.button :submit, t('.update', default: "Update"), class: 'btn-primary pull-right' %>
  <% end %>
</div>
<br class="clearfix" />

<div class="col-sm-6 col-md-offset-3">
  <div class="page-header">
    <h3><%= t('.social_networks', default: 'Social Networks') %></h3>
  </div>

  <% resource.authorizations.each do |authorization| %>
      <p>
          <%= authorization.provider %>:
          <%= link_to authorization.nick_name, authorization.profile_page %>
      </p>
  <% end %>
</div>
