<section class="profile">
  <div class="container">

    <div class="col-md-12">
      <%= form_for(resource.profile, url: profiles_path, method: :put) do |f| %>
        <% if resource.errors.full_messages.any? %>
          <% resource.errors.full_messages.each do |error_message| %>
            <% if resource.errors.full_messages.first == error_message %>
              <div class="alert alert-danger">
                <%= error_message %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Dados Pessoais</h3>
            <div class="profile-avatar">
              <div class="row">
                <div class="col-md-1">
                  <%= show_avatar %>
                </div>
                <div class="col-md-11">
                 <p>Para alterar sua imagem de exibição é necessário fazer o upload de sua foto no Gravatar e usar o mesmo email em configurações da conta</p>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-body personal-data">
            <div class="form-group">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, placeholder: 'Seu nome', class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, placeholder: 'Seu sobrenome', class: 'form-control' %>
            </div>

            <div class="form-group">
              <label for="about">Fale um pouco sobre você</label>
              <%= f.text_area :description, as: :textarea, class: 'form-control' %>
            </div>
          </div>

          <div class="panel-footer text-right">
              <%= f.submit 'Atualizar dados', class: 'btn btn-success' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), method: :put) do |f| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Configurações da conta</h3>
          </div>

          <div class="panel-body personal-data account-data">
            <div class="row panel-featured-block">
              <div class="col-md-12">
                <div class="form-group col-md-6">
                  <%= f.label :email %>
                  <%= f.text_field :email, placeholder: 'Seu email', class: 'form-control' %>
                </div>
              </div>

            </div>

            <div class="form-group col-md-6">
              <%= f.label :current_password %>
              <%= f.password_field :current_password, placeholder: 'Confirme sua senha', class: 'form-control', id: 'current_password', title: t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>
            </div>

            <div class="form-group col-md-6">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, placeholder: 'Confirme sua senha', class: 'form-control' %>
            </div>

          </div>

          <div class="panel-footer text-right">
              <%= f.submit 'Atualizar dados', class: 'btn btn-success' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
