<!-- Section Register -->
<section class="board-home">
  <div class="container">
    <% if user_signed_in? %>
      <div class="row">
        <div class="col-md-12 welcome home-signed-in">
          <h3>Bem vindo, seu lindo!</h3>
          <span>O que você deseja fazer?</span>
         </div>
      </div>
      <div class="row choose-box-home home-signed-in">
        <div class="col-md-4 box">
          <div class="base-content-box-option">
            <%= link_to casts_path do %>
              <div class="content-box-option show-screencast">
                <div class="header-box-option">
                  Ver screencasts
                  <div class="circle"></div>
                </div>
                <div class="description-box-option">
                  Assista, aprenda e
                  curta de montão os
                  melhores screenscasts
                  da internet!
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-4 box">
          <div class="base-content-box-option">
            <%= link_to new_cast_path do %>
              <div class="content-box-option submit-screencast">
                <div class="header-box-option">
                  Submeter um Cast
                  <div class="circle"></div>
                </div>
                <div class="description-box-option">
                  Quem ensina aprende
                  2 vezes! Envie seu cast e
                  torne um munto um
                  lugar melhor! Sério.
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-4 box">
          <div class="base-content-box-option">
            <%= link_to 'javascript::void(0)' do %>
              <div class="content-box-option starter">
                <div class="header-box-option">
                  Ser iniciado (hue)
                  <div class="circle"></div>
                </div>
                <div class="description-box-option">
                  Aqui a gente vai
                  te passar o esquema pra
                  fazer o melhor cast
                  no meio de todos os casts.
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-12">
          <h2>Screencasts de Ruby criados por brasileiros para brasileiros. huehue</h2>
          <p>Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!! E que abundância meu irmão viuu!! Assim você vai matar o papai. Só digo uma coisa, Domingo ela não vai! Danadaa!! Vem minha odalisca, agora faz essa cobra coral subir!!! Pau que nasce torto, Nunca se endireita. Tchannn!! Tchannn!! Tu du du pááá! Eu gostchu muitchu, heinn! danadinha! Mainhaa! Agora use meu lorem ipsum ordinária!!! Olha o quibeee! rema, rema, ordinária!.</p>
        </div>
      </div>
      <div class="row">
        <div class="content-buttons">
          <%= link_to "Entrar com GitHub",user_omniauth_authorize_path("github"), class: "bt-github" %>
          <%= link_to "Criar uma nova conta", new_user_registration_path, class: 'bt-register' %>
        </div>
      </div>
    <% end %>
  </div>
</section>
<!-- /Section Register -->

<!-- Section Latest -->
<section class="featured latest-home">
  <div class="container">
    <%= render 'shared/cast_list', casts: @casts.most_recent, title: 'Últimos screencasts publicados' %>
  </div>
</section>
<!-- /Section Latest -->

<!-- Section Latest -->
<section class="featured most-watched-home">
  <div class="container">
    <%= render 'shared/cast_list', casts: @casts.most_viewed, title: 'Screencasts mais visualizados' %>
  </div>
</section>
<!-- /Section Latest -->
