<div class="col-sm-6 col-md-offset-3">
  <div class="page-header">
    <h2><%= t('.sign_in', :default => "Sign in") %></h2>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :email %>
      <%= f.input :password %>

      <% if devise_mapping.rememberable? %>
          <%= f.input :remember_me, as: :boolean %>
      <% end %>

      <%= f.button :submit, t('.sign_in', :default => "Sign in"), class: 'btn-primary pull-right' %>
  <% end %>
  <br class="clearfix" />

  <%= render "devise/shared/links" %>
</div>