<div class="col-sm-6 col-md-offset-3">
	<div class="page-header">
    	<h2><%= t('.title') %></h2>
  	</div>

	<%= simple_form_for(@cast) do |f| %>
	 	<%= f.input :name %>
		<%= f.input :url %>
		<%= f.input :description, as: :text%>

		<%= f.button :submit, t('.update'), class: 'btn-primary pull-right' %>	
	<% end %>
</div>