<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= t('.title') %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="Assista, aprenda e curta de montão os melhores screencasts da internet!">
  <%= csrf_meta_tags %>
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
  <%= body do %>
  <%= render 'shared/alerts' %>
  <%= render 'shared/header' %>

  <main class="main devise-content" role="main">
    <%= yield %>
  </main>

  <%= render 'shared/footer' %>
  <%= javascript_include_tag 'application' %>
  <% end %>
</html>
